<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>Drag Sample</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="root">
      <div>
        <!-- "index" "url" "dragstart_method" は変数、関数名 -->
        <image-item v-for="(url, index) in url_list" v-bind:key="index" v-bind:url="url" v-bind:dragstart_method="dragstart_method"></image-item>
        <br>
        <h2>Select</h2>
        <!-- "index" "url" "drop_method" は変数、関数名 -->
        <select-item v-for="(url, index) in selected_url_list" v-bind:key="index" v-bind:url="url" v-bind:index="index" v-bind:drop_method="drop_method"></select-item>
      </div>
    </div>
    <script src="data.js"></script>
  </body>
</html>
